{% extends 'base.html' %}

{% block content %}

<h1> Welcome </h1>

<form method="post" enctype="multipart/form-data" action="{% url 'create_note' %}">
    {% csrf_token %}
    <label for="text">Text:</label>
    <textarea name="text" id="text" required></textarea>
    <br><br>
    <label for="audio">Audio:</label>
    <input type="file" name="audio" id="audio" accept="audio/*">
    <br><br>
    <label for="video">Video:</label>
    <input type="file" name="video" id="video" accept="video/*">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>


{% endblock content %}